from dwell import model

# create mappings for what 'kinds' will be shown on the index feed of the site
model.add_alias('default', model.Blog)
model.add_alias('default', model.Photo)
model.add_alias('default', model.Recipe)
model.add_alias('default', model.Review)

AUTHOR = model.Author(
    name='Jonathan LaCour',
    url='https://cleverdevil.io',
    photo='https://cleverdevil.io/profile/photo'
)

PASSWORDS = {
    'salt': 'ASDF123',
    'passwords': {
        'https://cleverdevil.io/': 'asdf-asdf-asdf-asdf-asdf'
    }
}

TOKEN = {
    'algorithm': 'HS256',
    'secret': 'asdf-asdf-asdf-asdf-asdf-asdf'
}

WEBMENTIONS = {
    'feed': 'https://webmention.io/api/mentions.html?token=asdfasdfasdfasdfasdf'
}
