{% if detail %}
 <div class="u-center mt-12 w-70p-lg w-100p-md">
{% endif %}

<article class="card w-100p kind-{{ post.kind }}" id="post-{{ post.uuid }}">

  {% include ['kinds/'+post.kind+'/title.html', 'kinds/generic/title.html'] %}

  <div class="content px-4 pt-3" style="margin-top: -2rem;">
    <div class="tile tile--center" style="display: none">
    
      <div class="tile__icon">
        <figure class="avatar">
          <img src="https://cleverdevil.io/{{ post.author.photo }}" alt="Author Photo" />
        </figure>
      </div>

      <div class="tile__container">
        <p class="tile__title">{{ post.author.name }}</p>
        <p class="tile__subtitle"><a href="https://cleverdevil.io">cleverdevil.io</a></p>
      </div>
    
    </div>
    
    {% include ['kinds/'+post.kind+'/content.html', 'kinds/generic/content.html'] %}
  </div>
  
  <div class="card__action-bar px-4 row">
    <div class="col-6">
      <a class="u-url" href="{{ post.url }}" rel="permalink">
        <span>Published</span>
        <time class="unk-dt-published" datetime="{{ post.published }}" title="">
          {{ post.published.humanize() }}
        </time>
      </a>
    </div>
    <div class="col-6 u-text-right">
      <a class="u-url" href="{{ post.url }}" rel="permalink">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <span>{{ g.len(post.comments) }} comments</span>
        &nbsp;
        <ion-icon name="star-outline"></ion-icon>
        <span>{{ g.len(post.likes) }} stars</span>
      </a>
    </div>
  </div>

</article>

{% if detail == True %}
  {% include "post-detail.html" %}
  </div>
{% endif %}
