{% extends "shell.html" %}

{% block title %}Jonathan LaCour - About Me{% endblock %}

{% block main %}
<div class="frame max-w-md u-center mt-12 p-5 ">
  <div class="frame__header u-text-center">
    <div>
      <figure class="avatar avatar--xl">
        <img src="/me.jpg" />
      </figure>
    </div>
    <div>
      <h6 class="frame__title">Jonathan LaCour  </h6>
      <div class="frame__subtitle">About Me</div>
    </div>
  </div>
  <div class="divider m-0"></div>
  <div class="frame__body">
    <div class="content u-text-center">
      <p class="u-text-left">
        This is the personal website of Jonathan LaCour.
      </p>
      <p class="u-text-left">
        Jonathan has been a technologist from a young age, teaching himself to
        program at the age of 14. After cutting his teeth with several smaller
        jobs, Jonathan began his professional career in Enterprise Healthcare
        in 1997, catapulting him into the culture of "software as a service"
        well before it became an industry buzzword. Jonathan harnessed his
        passion for technology and the cognitive process in his pursuit of a BS
        in Computer Science at Georgia Tech, with concentrations in psychology,
        cognitive science, and technology education. Armed with this
        interdisciplinary experience, Jonathan is keenly aware of how people
        learn and solve problems. When combined with his knowledge of
        technology, Jonathan is uniquely able to anticipate the needs of his
        customers. 
      </p>
      <p class="u-text-left">
        In 2007, Jonathan helped found ShootQ, a web-based studio management
        solution for professional photographers, where he served as CTO. In
        2010, ShootQ was acquired by Pictage, where Jonathan served as the Vice
        President of Software Products. Jonathan joined DreamHost in 2011 as
        Vice President of Software Development, bringing with him his
        experience and knowledge running engineering and product teams. In
        2012, Jonathan became DreamHost's Vice President of Product and
        Development. In 2014, Jonathan took over the Cloud business unit at
        DreamHost as the Vice President of Cloud, and in late 2016 was promoted
        to the position of Senior Vice President of Product and Technology.
      </p>
      <p class="u-text-left">
        In January 2018, Jonathan joined Reliam as Chief Technology Officer. In
        October 2018, Reliam's merger with Stratalux and G2 Technology Group
        culminated in the launch of Mission, a leading AWS Consulting and
        Managed Services provider, where Jonathan serves as CTO. At Mission,
        Jonathan leads Research & Development to enable Mission to drive
        success for AWS customers. 
      </p>
      <p class="u-text-left">
        When not hunkered down behind his laptop, Jonathan loves spending time
        with his beautiful and brilliantly creative wife, Lacey, his daughter
        Colette, his son William, and their two pugs, Nelson and Eliza.
        Jonathan and family split time between the South Bay of Los Angeles and
        Palm Desert in the beautiful Coachella Valley. Beyond his culinary
        interests, Jonathan spends Saturday afternoons in the fall rooting for
        his alma mater and the University of Miami and enjoying his favorite
        southern creation - bourbon. 
      </p>
    </div>
  </div>
</div>
{% endblock %}

